.date-filtro{
    width: 30%;
    font-family: 'Poppins', sans-serif;
}

.btn-preciso-despacho{
	background-color: #3C91E6 !important;
	color: #fff !important;
	padding: 8px 15px;
	border-radius: 10px;
	font-family: 'Poppins', sans-serif;
	border: none;
	cursor: pointer;
}
table.dataTable.no-footer {
	border-bottom: 0px solid rgba(255, 255, 255, 0) !important;
}