{% extends 'layout.html' %}
{% block body %}
<!-- MAIN -->
<main>
    <!-- Ventana de loader -->
    <div class="hidden-loader" id="hidden-loader-4">
        <img src="{{url_for('static', filename='img/gif-loader2.gif')}}" alt="">
    </div>
    <!-- Ventana de loader -->
    <!-- Progress Bar de la carga de despachos -->
    <div class="progress-bar" id="progress-bar">
        <h4>Los despachos se estan enviando a SMQ...</h4>
        <div>
            <img src="{{url_for('static', filename='img/gif-progress-bar.gif')}}" alt="">
        </div>
    </div>
    <!-- Progress Bar de la carga de despachos -->
    <!-- Message alert validarRuta -->
    {%if messagevalidar %}
    <div class="alert-message">
        <i class='bx bx-error-circle'></i>
        <h2>{{messagevalidar}}</h2>
        <p>Recuerde que para cargar los despachos primero debe cargar la ruta y sus paradas</p>
        <button class="closebtn btn-aceptar-alert" onclick="this.parentElement.style.display='none';">Aceptar</button>
    </div>
    {% endif %}
    <!-- Message alert validarRuta-->
    <!-- Message alert validar Placas -->
    {%if messageplacas %}
    <div class="alert-message-placas" id="alert-message-placas">
        <i class='bx bx-error-circle'></i>
        <h2>Hay algunas placas que no estan cargadas en SMQ</h2>
        <p>Si decide proceder con la carga, las tramas que estan asociadas a estas placas no se cargaran: </p>
        <span>
        {% for placa in messageplacas %}
        ({{placa}})
        {% endfor %}
        </span>
        <div class="btn-aceptar-alert-div">
            <a href="/cargar_despachos?codruta=null" class="btn-aceptar-alert" id="btn-message-placas">Cancelar carga</a>
            <a href="/enviar_despachos" id="btn-progress-bar-2" class="btn-aceptar-alert btn-progress-bar">Continuar carga</a>
        </div>
    </div>
    {% endif %}
    <!-- Message alert validar Placas-->
    <!-- Message confirmar envio despachos -->
    {%if messageconfirm %}
    <div class="alert-message">
        <i class='bx bx-check-circle'></i>
        <h2>{{messageconfirm}}</h2>
        <button class="closebtn btn-aceptar-alert" onclick="this.parentElement.style.display='none';">Aceptar</button>
    </div>
    {% endif %}
    <!-- Message confirmar envio despachos -->
    <div class="head-title">
        <div class="left">
            <h1>Cargar despachos de {{dataempresa.empresa}}</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="active" href="/menu">Clientes</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="active" href="/mostrar_rutas">Rutas</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="active" href="/mostrar_puntos?ruta=null">Paradas</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="active" href="#">Despachos</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-data">
        <div class="todo">
            <div class="head">
                <h3>Seleccione una ruta</h3>
                <i class='bx bx-filter'></i>
            </div>
            <ul class="todo-list">
                {% for ruta in dataruta %}
                <a href="/cargar_despachos?codruta={{ruta.SM_CODIGO_RUTA}}" class="completed">
                    <p>{{ruta.SM_CODIGO_RUTA}}</p>
                    <i class='bx bx-plus'></i>
                </a>
                {% endfor %}
            </ul>
        </div>
        {% if codruta %}
        <div class="todo form-todo">
            <div class="container-form">
                <form class="sign-in-form" method="POST" action="/validar_placas?codruta={{codruta}}"
                    enctype="multipart/form-data">
                    <h2>Se cargaran los despachos para la {{codruta}}</h2>
                    <label for="codigoruta">Ruta: </label>
                    <input class="codruta" type="text" name="codigoruta" id="codigoruta" value="{{codruta}}" disabled>
                    <label for="file">Cargue su archivo(.xlsx): </label>
                    <input class="file-form" type="file" name="file" id="file">
                    <div class="cont-button">
                        <input class="btn solid" type="submit" id="btn-progress-bar" value="Validar despachos"/>
                    </div>
                </form>
            </div>
        </div>
        {% else %}
        <div class="todo">
            <div class="container-form">
                <div class="container-gif">
                    <div>
                        <h3>Eliga una ruta para que pueda subir el excel con los despachos</h3>
                        <img src="{{url_for('static', filename='img/gif-cargando.gif')}}" alt="">
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</main>
<!-- MAIN -->
{% endblock %}