{% extends 'layout.html' %}
{% block body %}
<!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h1>Despachos cargados en SMQ</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="active" href="#">Paradas</a>
                </li>
            </ul>
        </div>
    </div>
    <section class="container-table">
        <div class="table">
            <section class="table__header text-sm">
                <h1 class="font-bold">Filtros</h1>
                <form action="{{url_for('despachos')}}" method="POST" class="flex justify-between items-center">
                    <div class="flex gap-4 items-center">
                        <div class="flex gap-3 items-center">
                            <label for="select">Seleccione una empresa: </label>
                            <select class="select" name="select-ruc" id="select">
                                <option value="">Todos</option>
                                {% for cliente in datosclient %}
                                <option value="{{cliente.ruc}}">{{cliente.empresa}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label for="">Fecha: </label>
                        <input type="datetime-local" id="start" name="date-filtro" class="date-filtro p-3 border focus:outline-none focus:border-blue-500" />
                        <input type="submit" class="btn-preciso-despacho btn-preciso-2" value="Buscar" id="buscar-despachos"/>
                    </div>
                    <div>

                    </div>
                </form>
     
            </section>
            <section class="table__body text-sm">
                <table class="text-sm" id="tabla-despachos">
                    <thead>
                        <tr>
                            <th> Empresa</th>
                            <th> Codigo Despachos</th>
                            <th> Ruta</th>
                            <th> Placa</th>
                            <th class="th-fechas"> Fecha planificada</th>
                            <th class="th-fechas"> Fecha registro</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for despacho in datadespachos %}
                        <tr>
                            <td>
                                {% for cliente in datosclient %}
                                {% if cliente.ruc == despacho.RUC_OTT %}
                                {{cliente.empresa}}
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td> {{despacho.CODIGO_DESP}}</td>
                            <td> {{despacho.RUTA}}</td>
                            <td> {{despacho.PLACA}}</td>
                            <td> {{despacho.FECHA_HORA_PLANIFICADA}} </td>
                            <td> {{despacho.FECHA_HORA_REGISTRO}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </section>
    
</main>
<!-- Agrega las librerías de jQuery y DataTables -->
<script src="{{url_for('static', filename='js/despachos-datatables.js')}}" defer></script>
<!-- MAIN -->
<!-- MAIN -->
{% endblock %}