{% extends 'layout.html' %}
{% block body %}
<!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h1>Despachos cargados en SMQ</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="active" href="#">Paradas</a>
                </li>
            </ul>
        </div>
    </div>
    <section class="container-table">
        <div class="table">
            <section class="table__header">
                <h1>Filtros</h1>
                <form action="{{url_for('despachos')}}" method="POST">
                    <div>
                        <label for="select">Seleccione una empresa: </label>
                        <select class="select" name="select-ruc" id="select">
                            <option value="">Todos</option>
                            {% for cliente in datosclient %}
                            <option value="{{cliente.ruc}}">{{cliente.empresa}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label for="">Fecha: </label>
                    <input type="datetime-local" id="start" name="date-filtro" class="date-filtro" />
                    <input type="submit" class="btn-preciso-despacho btn-preciso-2" value="Buscar" />
                </form>
                <!-- <div class="export__file">
                            <label for="export-file" class="export__file-btn" title="Export File"></label>
                            <input type="checkbox" id="export-file">
                            <div class="export__file-options">
                                <label>Export As &nbsp; &#10140;</label>
                                <label for="export-file" id="toPDF">PDF <img src="{{url_for('static', filename='img/pdf.png')}}" alt=""></label>
                                <label for="export-file" id="toJSON">JSON <img src="{{url_for('static', filename='img/json.png')}}" alt=""></label>
                                <label for="export-file" id="toCSV">CSV <img src="{{url_for('static', filename='img/csv.png')}}" alt=""></label>
                                <label for="export-file" id="toEXCEL">EXCEL <img src="{{url_for('static', filename='img/excel.png')}}" alt=""></label>
                            </div>
                        </div> -->
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th> Empresa</th>
                            <th> Codigo Despachos</th>
                            <th> Ruta</th>
                            <th> Placa</th>
                            <th class="th-fechas"> Fecha planificada</th>
                            <th class="th-fechas"> Fecha registro</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for despacho in datadespachos %}
                        <tr>
                            <td>
                                {% for cliente in datosclient %}
                                {% if cliente.ruc == despacho.RUC_OTT %}
                                {{cliente.empresa}}
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td> {{despacho.CODIGO_DESP}}</td>
                            <td> {{despacho.RUTA}}</td>
                            <td> {{despacho.PLACA}}</td>
                            <td> {{despacho.FECHA_HORA_PLANIFICADA}} </td>
                            <td> {{despacho.FECHA_HORA_REGISTRO}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </section>
</main>
<!-- MAIN -->
{% endblock %}