{% extends 'layout.html' %}
{% block body %}
<!-- MAIN -->
<main>
    <!-- Ventana de loader -->
    <div class="hidden-loader" id="hidden-loader-4">
        <img src="{{url_for('static', filename='img/gif-loader2.gif')}}" alt="">
    </div>
    <!-- Ventana de loader -->
    
    <!-- Message alert -->
    {% if message %}
    <div class="alert-message-menu">
        <i class='bx bx-error-circle'></i>
        <h2>Ocurrio un error al acceder a {{message}}</h2>
        <p>Token vencido: Comuniquese con el área de soporte de Sysnet</p>
        <button class="closebtn btn-aceptar-alert" onclick="this.parentElement.style.display='none';">Aceptar</button>
    </div>
    {% endif %}
    <!-- Message alert -->
    
    <div class="head-title">
        <div class="left">
            <h1>Lista de clientes</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="active" href="#">Clientes</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Envíos a SMQ</h3>
                <i class='bx bx-search'></i>
                <i class='bx bx-filter'></i>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Ruc</th>
                        <th>Status</th>
                        <th>Rutas</th>
                        <th>Paradas</th>
                        <th>Despachos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in datosclient %}
                    <tr>
                        <td>
                            <i class='bx bxs-user-pin'></i>
                            <p>{{d.empresa}}</p>
                        </td>
                        <td>{{d.ruc}}</td>
                        <td><span class="status {{d.status}}">{{d.status}}</span></td>
                        {% if d.status == True %}
                            <td><a href="/mostrar_rutas?ruc={{d.ruc}}" class="btn-preciso-4"><span class="status {{d.status}} completed">Cargar</span></a></td>
                            <td><a href="/mostrar_puntos?ruc={{d.ruc}}&ruta=null" class="btn-preciso-4"><span class="status {{d.status}} completed">Cargar</span></a> </td>
                            <td><a href="/cargar_despachos?ruc={{d.ruc}}&codruta=null" class="btn-preciso-4"><span class="status {{d.status}} pending">Cargar</span></a> </td>
                        {% else %}
                            <td><a href="#"><span class="status {{d.status}} completed">Cargar</span></a></td>
                            <td><a href="#"><span class="status {{d.status}} completed">Cargar</span></a> </td>
                            <td><a href="#"><span class="status {{d.status}} pending">Cargar</span></a> </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</main>
<!-- MAIN -->

{% endblock %}
        