{% extends 'mostrar_puntos.html' %}
{% block modal %}
  <!-- Modal -->
  <div class="md-modal md-show md-effect-1" id="modal-1">
    <div class="md-content">
        <h3>{{rutacodigo}}</h3>
            <div class="content-ruta">
                {{puntosestr}}    
            </div>
            <div class="btn-modal"> 
                <a href="/mostrar_rutas?ruc={{rutaestr.SM_RUC_EMPRESA}}&empresa={{empresa}}" name="modal-btn-cancelar">Cancelar</a> 
                <a href="/enviar_ruta_smq?ruc={{rutaestr.SM_RUC_EMPRESA}}&empresa={{empresa}}">Enviar ruta</a> 
            </div>
    </div>
</div>
{% endblock %}
