{% extends 'layout.html' %}
{% block body %}
<!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h1>Paradas cargadas en SMQ</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="active" href="#">Paradas</a>
                </li>
            </ul>
        </div>
    </div>
    <section class="container-table">
        <div class="table">
            <section class="table__header text-sm">
                <h1>Filtros</h1>
                <form action="{{url_for('paradas')}}" class="form-filtro-paradas" method="POST">
                    <div>
                        <label for="select">Seleccione una empresa: </label>
                        <select class="select" name="select-ruc" id="select">
                            <option value="">Todos</option>
                            {% for cliente in datosclient %}
                            <option value="{{cliente.ruc}}">{{cliente.empresa}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-text">
                        <label for="">Parada: </label>
                        <input class="input-seek border focus:outline-none focus:border-blue-500" name="parada" type="search" placeholder="Buscar Parada...">
                    </div>
                    <div class="input-text">
                        <label for="">Ruta: </label>
                        <input class="input-seek border focus:outline-none focus:border-blue-500" name="ruta" type="search" placeholder="Buscar Ruta...">
                    </div>
                    <input type="submit" class="btn-rutas-smq btn-preciso-2" value="Buscar" />
                </form>
                <!-- <div class="export__file">
                            <label for="export-file" class="export__file-btn" title="Export File"></label>
                            <input type="checkbox" id="export-file">
                            <div class="export__file-options">
                                <label>Export As &nbsp; &#10140;</label>
                                <label for="export-file" id="toPDF">PDF <img src="{{url_for('static', filename='img/pdf.png')}}" alt=""></label>
                                <label for="export-file" id="toJSON">JSON <img src="{{url_for('static', filename='img/json.png')}}" alt=""></label>
                                <label for="export-file" id="toCSV">CSV <img src="{{url_for('static', filename='img/csv.png')}}" alt=""></label>
                                <label for="export-file" id="toEXCEL">EXCEL <img src="{{url_for('static', filename='img/excel.png')}}" alt=""></label>
                            </div>
                        </div> -->
            </section>
            <section class="table__body">
                <table class="text-sm">
                    <thead>
                        <tr>
                            <th> Parada <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Ruta <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Empresa <span class="icon-arrow">&UpArrow;</span></th>
                            <th> RUC <span class="icon-arrow">&UpArrow;</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ruta in dataresumen %}
                        <tr>
                            <td> {{ruta.NOMBRE_PC}}</td>
                            <td> {{ruta.CODIGO_RUTA}}</td>
                            <td> {{ruta.NOMBRE_EMPRESA}} </td>
                            <td> {{ruta.RUC_OTT}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </section>
</main>
<!-- MAIN -->
{% endblock %}