{% extends 'layout.html' %}
{% block body %}
<!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h1>Rutas cargadas en SMQ</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="active" href="#">Rutas</a>
                </li>
            </ul>
        </div>
    </div>
    <section class="container-table">
        <div class="table">
            <section class="table__header">
                <h1>Filtros</h1>
                <form action="{{url_for('rutas')}}" method="POST">
                    <div>
                        <label for="select">Seleccione una empresa: </label>
                        <select class="select" name="select-ruc" id="select">
                            <option value="">Todos</option>
                            {% for cliente in datosclient %}
                            <option value="{{cliente.ruc}}">{{cliente.empresa}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label for="">Buscar Ruta: </label>
                    <div class="input-group">
                        <input class="input-seek" name="codruta" type="search" placeholder="Ruta...">
                        <i class='bx bx-search-alt-2'></i>
                    </div>
                    <input type="submit" class="btn-preciso-editar btn-preciso-2" value="Buscar" />
                </form>
                <!-- <div class="export__file">
                            <label for="export-file" class="export__file-btn" title="Export File"></label>
                            <input type="checkbox" id="export-file">
                            <div class="export__file-options">
                                <label>Export As &nbsp; &#10140;</label>
                                <label for="export-file" id="toPDF">PDF <img src="{{url_for('static', filename='img/pdf.png')}}" alt=""></label>
                                <label for="export-file" id="toJSON">JSON <img src="{{url_for('static', filename='img/json.png')}}" alt=""></label>
                                <label for="export-file" id="toCSV">CSV <img src="{{url_for('static', filename='img/csv.png')}}" alt=""></label>
                                <label for="export-file" id="toEXCEL">EXCEL <img src="{{url_for('static', filename='img/excel.png')}}" alt=""></label>
                            </div>
                        </div> -->
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th> Ruta <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Empresa <span class="icon-arrow">&UpArrow;</span></th>
                            <th> RUC <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Nombre Ruta <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ruta in dataresumen %}
                        <tr>
                            <td> {{ruta.CODIGO_RUTA}}</td>
                            <td> {{ruta.NOMBRE_EMPRESA}}</td>
                            <td> {{ruta.RUC_OTT}} </td>
                            <td> {{ruta.GISROU_NOMBRE}}</td>
                            <td>
                                <button type="button" class="btn-preciso-editar" data-cod-ruta="{{ruta.CODIGO_RUTA}}">
                                    Editar
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </section>
</main>
<!-- MAIN -->
{% endblock %}